body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.app {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

header {
    text-align: center;
}
header {
    position: relative;      
    background-image: url('mountain.jpg'); 
    background-size: cover;  
    background-position: center; 
    height: 250px;           
    color: white;      
}

/* Transparent overlay */
header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;         
}

/* Style for h1 and date to position them above the overlay */
header h1, #currentDate {
    position: relative;
    z-index: 2;  
    padding: 30px;       
}
#currentDate {
    position: absolute;  /* Allows you to place the element anywhere within the header */
    bottom: 5px;        /* Places the date 10px up from the bottom of the header */
    left: 10px;          /* Places the date 10px from the left of the header */
    color: white;        /* Optional: Set the text color to white for better visibility on the image */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Adds a semi-transparent black background for better text visibility */
    padding: 5px;        /* Optional: Adds some space around the text */
}

#todoList {
    list-style-type: none;
    padding: 0;
}

#todoList li {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.addTask {
    display: flex;
    gap: 10px;
}

.addTask input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.addTask button {
    padding: 10px 20px;
    /* background-color: #007BFF; */
    background-color: rgb(163, 87, 164);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.deleteBtn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    color: #6e2e82;
}